<div class="devise-container"> 
  <h2 class="title"><%= t("devise.sign_up") %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <%= f.text_field :username, placeholder: User.human_attribute_name(:username), autofocus: true, class: "form-control" %>

    <%= f.password_field :password, placeholder: User.human_attribute_name(:password), autocomplete: "off", class: "form-control" %>

    <%= f.password_field :password_confirmation, placeholder: User.human_attribute_name(:password_confirmation), autocomplete: "off", class: "form-control" %>

    <%= f.submit t("devise.create_account"), class: "form-control btn-info" %>
  <% end %>

  <div class="text-right right">
    <%= render "devise/shared/links" %>
  </div>
</div>
