<select ref="/data/<%= input.guid %>">
  <label ref="jr:itext('/data/<%= input.guid %>:label')"/>
  <% if input.options %>
  <% input.options.keys.each_with_index do |key, index| %>
  <item>
    <label ref="jr:itext('/data/<%= input.guid %>:option<%= index %>')"></label>
    <value><%= key %></value>
  </item>  
  <% end %>
  <% end %>
</select>