<div class="section-container">
  <%= form_for(current_user) do |f| %>
    <div id="user-info">
      <div class="user-icon image-preview" style="background-image: url(<%= current_user.avatar.url(:thumb) %>);">
      </div>
      <div class="user-details bottom">
        <%= f.file_field :avatar %>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-6">
        <h2><%= t("users.show.edit_profile") %></h2>
        <div class="form-group">
          <%= f.label User.human_attribute_name(:username) %><br />
          <%= f.text_field :username, autofocus: true %>
        </div>

        <div class="form-group">
          <%= f.label User.human_attribute_name(:bio) %><br />
          <%= f.text_area :bio, rows: 3, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label User.human_attribute_name(:email) %><br />
          <%= f.email_field :email %>
        </div>

        <div>
          <%= f.submit t("defaults.save"), class: "btn btn-info" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>

<script type="text/javascript">
  $('input[type="file"]').on("change", PT.uploadImage);
</script>