<div class="row">
  <div class="col-md-12"> 
    <h1><%= t(".my_surveys") %></h1>
    <%= link_to t(".new_survey"), new_survey_path, class: "btn btn-info right" %>
    <br><br>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <% if @active_surveys.present? %>
    <h4>Active surveys</h4>
      <ul class="padded-list">
        <% @active_surveys.each do |survey| %>
          <%= render partial: 'surveys/list_item', locals: {survey: survey} %>
        <% end %>
      </ul>
    <% end %>  
  </div>

  <div class="col-md-12"> 
    <h4>Draft surveys</h4>
    <% if @draft_surveys.present? %>   
      <ul class="padded-list">
        <% @draft_surveys.each do |survey| %>
          <%= render partial: 'surveys/list_item', locals: {survey: survey} %>
        <% end %>
      </ul>
    <% else %>
      <%= link_to t(".new_survey"), new_survey_path, class: "btn btn-info" %>
      <br><br><br>
    <% end %>  
  </div>

    <div class="col-md-12"> 
    <% if @closed_surveys.present? %>
    <h4>Closed surveys</h4> 
      <ul class="padded-list">
        <% @closed_surveys.each do |survey| %>
          <%= render partial: 'surveys/list_item', locals: {survey: survey} %>
        <% end %>
      </ul>
    <% end %>  
  </div>
</div>