<div class="row">
  <div class="col-md-8">
    <h1><%= t(".my_surveys") %></h1>
    <% if @forms.length > 0 %>
      <ul class="padded-list">
        <% @forms.each do |form| %>
          <li>
            <%= link_to form.title, form_path(form) %>
            <div class="right">
              <%= link_to t(".download_xml"), form_path(form, format: :xml) %>
              <%= link_to form_path(form), class: "pad-side", method: :delete, confirm: t(".confirm_delete") do %>
                <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p><%= link_to t(".no_surveys"), new_form_path %></p>
    <% end %>  
  </div>

  <div class="col-md-4 text-center">
  <br><br><br><br>
    <%= link_to t(".new_survey"), new_form_path, class: "btn btn-info" %>
  </div>
<div class="row">