<div class="col-md-6 devise-container">
  <h2 class="title"><%= t("devise.passwords.new.forgot_your_password") %></h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, class: "form-control" %>

    <%= f.submit t("devise.passwords.new.send_me_reset_password_instructions"), class: "btn btn-info form-control" %>
  <% end %>

  <div class="text-right right">
    <%= render "devise/shared/links" %>
  </div>
</div>
