<div class="section grey">
  <div class="row section-container intro-block">
    <div class="col-md-3">
      <%= image_tag("PT-logo.png") %>
    </div>
    <div class="col-md-9 overview-block">
      <h3 class="title"><%= t(".tag_line") %></h3>
      <p>
        After an election, how can citizens hold elected leaders accountable for promises that they made during the campaign season? Promise Tracker explores the role citizen monitoring can play in holding elected leaders accountable for promises they make about infrastructure.
      </p>
      <br>
      <h3 class="title"><%= t(".process_line") %></h3>
      <p>
        Promise Tracker has a three-part process, developed through workshops with community organizers and activists in Brazil. This process helps community leaders identify issues to monitor, rally a group to collect data, define their objectives, build forms to collect data on a mobile phone, and share the data with others to make change.
      </p>
      <div class="sign-up">
        <%= link_to t("home.index.create_account"), new_user_registration_path, class: "btn btn-info" %>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="row section-container center process-block">
    <div class="col-md-4">
      <%= image_tag("process-icon-1.png", class: "process-icon") %>
      <span class="process-title yellow">Define objective & build survey</span>
      <p>
        Plan your data collection goals and build a survey to be used by data collectors in the field...
      </p>
    </div>
    <div class="col-md-4">
      <%= image_tag("process-icon-2.png", class: "process-icon") %>
      <span class="process-title pink">Collect data</span>
      <p>
        Share your survey with community members to collect responses...
      </p>
    </div>
    <div class="col-md-4">
      <%= image_tag("process-icon-3.png", class: "process-icon") %>
      <span class="process-title turquoise">Share data</span>
      <p>
        View and share your data in a variety of different formats to create change...
      </p>
    </div>
  </div>
</div>