<div class="section grey">
  <div class="row section-container intro-block">
    <div class="col-md-3" id="logo-wrapper">
      <%= image_tag("PT-logo.png", id: "logo") %>
      <img class="logo-overlay" src="<%= asset_path('PT-logo.png') %>">
      <img class="logo-overlay" src="<%= asset_path('PT-logo-build.png') %>">
      <img class="logo-overlay" src="<%= asset_path('PT-logo-collect.png') %>">
      <img class="logo-overlay" src="<%= asset_path('PT-logo-share.png') %>">
    </div>
    <div class="col-md-9 overview-block">
      <h3 class="title"><%= t(".tag_line") %></h3>
      <p class="pad-bottom">
        After an election, how can citizens hold elected leaders accountable for promises they made during the campaign season? We believe that informed communities, equipped with data, are the best positioned to assess the performance of their representatives and avocate for change on a local level. Promise Tracker explores how citizen monitoring can extend civic engagement between election cycles.
      </p>
      <h3 class="title"><%= t(".process_line") %></h3>
      <p>
        Promise Tracker focuses on process. Our tools have been developed through a series of collaborative workshops with community organizers and activists in Brazil and are based on social organizing best practices. Promise Tracker guides users through a 3-part process to define their objectives & develop a survey, collect data in the field, and create compelling visualizations to drive change.
      </p>
      <div class="sign-up">
        <%= link_to t("home.index.create_account"), new_user_registration_path, class: "btn btn-info" %>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="row section-container center process-block">
    <div class="col-md-4 process-section">
      <%= image_tag("process-icon-1.png", class: "process-icon") %>
      <span class="process-title yellow">Define objective & build survey</span>
      <p>
        Develop the strategy for your data collection campaign by identifying key objectives and the target audiences for collected data. Build a custom survey for use in data collection.
      </p>
    </div>
    <div class="col-md-4 process-section">
      <%= image_tag("process-icon-2.png", class: "process-icon") %>
      <span class="process-title pink">Collect data</span>
      <p>
        Gather photos, locations, and responses from the field with the mobile app. Track incoming responses online and access guides to help organize & mobilize data collectors.
      </p>
    </div>
    <div class="col-md-4 process-section">
      <%= image_tag("process-icon-3.png", class: "process-icon") %>
      <span class="process-title turquoise">Share data</span>
      <p>
        View collected data in a variety of formats including maps, image galleries, graphs, and data reports to share with key stakeholders both online and offline.
      </p>
    </div>
  </div>
</div>

<script type="text/javascript">

  $(function(){
    $(".logo-overlay:gt(0)").hide();
    setInterval(function(){
      $(".logo-overlay:first")
      .fadeOut(1200)
      .next()
      .fadeIn(1200)
      .end()
      .appendTo('#logo-wrapper');
    }, 4000);
  })

</script>