<div class="section grey">
  <div class="row section-container intro-block">
    <div class="col-md-3" id="logo-wrapper">
      <%= image_tag("PT-logo.png", id: "logo") %>
      <img class="logo-overlay" src="<%= asset_path('PT-logo.png') %>">
      <img class="logo-overlay" src="<%= asset_path('PT-logo-build.png') %>">
      <img class="logo-overlay" src="<%= asset_path('PT-logo-collect.png') %>">
      <img class="logo-overlay" src="<%= asset_path('PT-logo-share.png') %>">
    </div>
    <div class="col-md-9 overview-block">
      <h3 class="title"><%= t(".tag_line") %></h3>
      <p class="pad-bottom">
        <%= t("home.index.project_description") %>
      </p>
      <div class="sign-up">
        <%= link_to t("home.index.create_account"), new_user_registration_path, class: "btn btn-info" %>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="row section-container center process-block">
    <div class="col-md-4 process-section">
      <%= image_tag("process-icon-1.png", class: "process-icon") %>
      <span class="process-title yellow"><%= t(".phase_1_title") %></span>
      <%= t(".phase_1_description") %>
    </div>
    <div class="col-md-4 process-section">
      <%= image_tag("process-icon-2.png", class: "process-icon") %>
      <span class="process-title pink"><%= t(".phase_2_title") %></span>
      <%= t(".phase_2_description") %>
    </div>
    <div class="col-md-4 process-section">
      <%= image_tag("process-icon-3.png", class: "process-icon") %>
      <span class="process-title turquoise"><%= t(".phase_3_title") %></span>
      <%= t(".phase_3_description") %>
    </div>
  </div>
</div>

<script type="text/javascript">

  $(function(){
    $(".logo-overlay:gt(0)").hide();
    setInterval(function(){
      $(".logo-overlay:first")
      .fadeOut(1200)
      .next()
      .fadeIn(1200)
      .end()
      .appendTo('#logo-wrapper');
    }, 4000);
  })

</script>