<li>
  <%= link_to t("surveys.status.#{survey.status}").capitalize, survey_path(survey), class: "btn status #{survey.status}" %>
  <%= link_to survey.title, survey_path(survey) %>
  <div class="right">
    <%= link_to t(".download_xml"), survey_path(survey, format: :xml) %>
    <%= link_to clone_survey_path(survey), class: "pad-side", data: { confirm: t(".confirm_clone") } do %>
      <i class="icon-copy"></i> <%= t(".clone") %>
    <% end %>
    <%= link_to survey_path(survey), class: "pad-side", method: :delete, data: { confirm: t(".confirm_delete") } do %>
      <span class="glyphicon glyphicon-trash"></span>
    <% end %>
  </div>
</li>