<div id="workspace">
  <div class="row" style="display: none;" data-bind="visible: true">
    
    <!-- Survey title -->
    <div class="col-md-8">
      <h4 id="surveyTitle" class="inline" data-bind="text: title"></h4>
      <div class="controls pad-top">
        <div class="btn btn-default" data-toggle="modal" data-target="#newSurveyModal"><%= t(".edit_survey_title") %></div>
        <div class="btn btn-info openPreview">
          <i class="icon-mobile-phone"></i> <%= t(".preview") %>
        </div>
      </div>
      <%= render 'new_survey_modal' %>
    </div>

    <!-- Survey body -->
    <div class="col-md-8">
      <div id="surveyBody">
        
        <div data-bind="sortable: inputs">

          <div class="input">
            <!-- ko if: inEdit -->

              <input type="text" class="form-control" data-bind="value: label, valueUpdate:'input'" placeholder="Add question text here" autofocus>
              <label><%= t(".required") %></label><input type="checkbox" data-bind="checked: required">

              <div class="modify">
                <a href="#" class="btn" data-bind="click: save"><%= t("defaults.save") %></a>
                <a href="#" class="btn" data-bind="click: $parent.removeInput"><span class="glyphicon glyphicon-trash"></span></a>
              </div>

              <!-- ko if: input_type() === 'select' || input_type() === 'select1'  -->
              <div class="options">
                <hr>
                <p><%= t(".options") %> <span class="glyphicon glyphicon-plus-sign" data-bind="click: addOption"></span></p>
                <div data-bind="foreach: options, valueUpdate:'input'">
                  <div class="option">
                    <input data-bind="value: $parent.options()[$index()], valueUpdate:'input'" autofocus>
                    <span class="glyphicon glyphicon-remove-sign delete-option"data-bind="click: $parent.deleteOption"></span>
                  </div>
                </div>
              </div>
              <!-- /ko -->
            <!-- /ko -->

            <!-- ko ifnot: inEdit -->
              <p data-bind="text: $data.label"></p>
              <div class="controls">
                <a href="#" class="btn" data-bind="click: edit"><%= t("surveys.new.edit") %></a>
                <a href="#" class="btn" data-bind="click: $parent.removeInput"><span class="glyphicon glyphicon-trash"></span></a>
              </div>
            <!-- /ko -->

          </div>
        </div>
      </div>

      <!-- Done button -->
      <div class="controls">
        <% if current_user %>
          <button class="btn btn-primary" data-bind="click: saveOrder">Done</button>
        <% end %>

        <div class="btn btn-info openPreview">
          <i class="icon-mobile-phone"></i> <%= t(".preview") %>
        </div>
      </div>
    </div>

    <!-- Input Tool palette -->
    <div class="col-md-4">
      <div id="toolPalette">
        <%= render 'tool_palette' %>
      </div>
    </div>
  </div>
</div>