<div id="workspace">
  <div class="campaign-title inline" data-bind="text: title"></div>
  <% if current_user %>
    <span class="edit-title-button" data-toggle="modal" data-target="#survey-title-modal"><%= t(".edit_title") %></span>
  <% end %>
  <h2 class="title"><%= Survey.model_name.human %></h2>

  <!-- Edit survey title modal -->
  <div class="modal fade" id="survey-title-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><%= t(".survey_title") %></h4>
        </div>
          <div class="modal-body">
            <input class="form-control" id="survey-title-input" data-bind="value: title" placeholder="<% t('.title_placeholder') %>">
          </div>
          <div class="modal-footer">
            <div class="btn btn-primary" id="update-title-button"><%= t("defaults.save") %></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Survey body -->
  <%= render partial: "survey_body" %>
 
  <!-- Done button -->
  <div class="controls">
    <% if current_user %>
    <button class="btn btn-primary" data-bind="click: saveOrder"><%= t('defaults.save') %></button>
    <% end %>
  </div>

  <!-- Sidebar -->
  <div id="sidebar">
    <div id="tool-palette" class="clear">
      <h3 class="title" ><%= t(".editor_title") %></h3>
      <hr>
      <ul>
        <li class="tool-button" rel="inputText">
          <span class="glyphicon glyphicon-plus-sign"></span> <%= t(".add_question") %>
        </li>
        <li class="tool-button" rel="inputLocation">
          <span class="glyphicon glyphicon-globe"></span> <%= t(".add_location") %>
        </li>
        <li class="tool-button" rel="inputImage">
          <span class="glyphicon glyphicon-picture"></span> <%= t(".add_image") %>
        </li>
      </ul>
    </div>
    <div id="preview">
      <h4 class="title"><%= t(".preview_title") %></h4>
      <%= render 'android_preview' %>
      <div id="preview-toggle" class="btn btn-grey btn-slim"><%= t(".hide_preview") %></div>
    <div>
  </div>
</div>

<script type="text/javascript">  
  PT.flash = <%= raw @flash %>;
  PT.validations = <%= raw @validations %>;
  PT.input_types = <%= raw @input_types %>;
  
  $("#preview-toggle").on("click", PT.togglePreview);
  $(document).on("click", "#update-title-button", PT.updateTitle);

  // Make input buttons draggable
  $(".tool-button").draggable({ 
    helper: function(event){
      return $(event.target).clone().addClass("drag-insert").css({
        "list-style-type": "none",
        background: "white",
        width: $(event.target).width() + 20,
        border: "1px solid grey"
      });},  
    appendTo: 'body',
    revert: 'invalid',
    connectToSortable: '#input-list'
  });

  $("#input-list").sortable({
    stop: function(event, ui){
      ui.item.addClass("drag-insert");
      ui.item.trigger("click");
    }
  });
</script>