<div id="workspace">
  <div style="display: none;" data-bind="visible: true">
  <div class="btn btn-title inline">
    <%= @survey.title %>
  </div>

  <!-- Survey body -->
  <%= render partial: "survey_body" %>
 

  <!-- Done button -->
  <div class="controls">
    <% if current_user %>
    <button class="btn btn-primary" data-bind="click: saveOrder"><%= t('defaults.save') %></button>
    <% end %>
  </div>

  <!-- Sidebar -->
  <div id="sidebar">
    <div id="tool-palette" class="clear">
      <h3 class="title" ><%= t(".editor_title") %></h3>
      <hr>
      <ul>
        <li class="tool-button" rel="inputText">
          <span class="glyphicon glyphicon-plus-sign"></span> <%= t(".add_question") %>
        </li>
        <li class="tool-button" rel="inputLocation">
          <span class="glyphicon glyphicon-globe"></span> <%= t(".add_location") %>
        </li>
        <li class="tool-button" rel="inputImage">
          <span class="glyphicon glyphicon-picture"></span> <%= t(".add_image") %>
        </li>
      </ul>
    </div>
    <div id="preview">
      <h4 class="title"><%= t(".preview_title") %></h4>
      <%= render 'android_preview' %>
      <div id="preview-toggle" class="btn btn-grey btn-slim"><%= t(".hide_preview") %></div>
    <div>
  </div>
</div>

<script type="text/javascript">
  $("#preview-toggle").on("click", PT.togglePreview);
  PT.flash = <%= raw @flash %>;
</script>