<div id="workspace">
  <div class="row" style="display: none;" data-bind="visible: true">
    
    <!-- Survey title -->
    <div class="col-md-8">
      <h4 id="survey-title" class="inline" data-bind="text: title"></h4>
      <div class="controls pad-top">
        <!-- ko if: PT.survey.status() === "editing" -->
        <div class="btn btn-default" data-toggle="modal" data-target="#new-survey-modal"><%= t(".edit_survey_title") %></div>
        <!-- /ko -->
      </div>
      <%= render 'new_survey_modal' %>
    </div>

    <!-- Survey body -->
    <div class="col-md-8">
      <div id="survey-body">
        
        <div data-bind="sortable: inputs">

          <div class="input">
            <!-- ko if: inEdit -->

              <input type="text" class="form-control" data-bind="value: label, valueUpdate:'input'" placeholder="<%= t(".question_placeholder") %>" autofocus>
              <label><%= t(".required") %></label><input type="checkbox" data-bind="checked: required">

              <div class="modify">
                <a href="#" class="btn" data-bind="click: save"><%= t("defaults.save") %></a>
                <a href="#" class="btn" data-bind="click: $parent.removeInput"><span class="glyphicon glyphicon-trash"></span></a>
              </div>
              <br><br>

              <p class="clear"><%= t(".answer_type") %>:</p>
              <select class="form-control" data-bind="options: _.values(PT.defaultControls), optionsValue: function(item) {return item.input_type}, optionsText: function(item) {return item.label}, value: input_type">
              </select>

              <!-- ko if: input_type() === 'select' || input_type() === 'select1'  -->
              <div class="options">
                <hr>
                <p><%= t(".options") %> <span class="glyphicon glyphicon-plus-sign" data-bind="click: addOption"></span></p>
                <ul class="answer" data-bind="foreach: options, valueUpdate:'input', css: input_type">
                  <li class="option">
                    <input data-bind="value: $parent.options()[$index()], valueUpdate:'input'" autofocus>
                    <span class="glyphicon glyphicon-remove-sign delete-option"data-bind="click: $parent.deleteOption, visible: $parent.options().length > 1"></span>
                  </li>
                </ul>
                <div class="phantom-option dummy-input" data-bind="click: addOption">
                  Click to add new option
                </div>
              </div>
              <!-- /ko -->
            <!-- /ko -->

            <!-- ko ifnot: inEdit -->
              <p data-bind="text: $data.label"></p>
              <!-- ko if: PT.survey.status() === "editing" -->
              <div class="modify">
                <a href="#" class="btn" data-bind="click: edit"><%= t("surveys.new.edit") %></a>
                <a href="#" class="btn" data-bind="click: $parent.removeInput"><span class="glyphicon glyphicon-trash"></span></a>
              </div>
              <!-- /ko -->

              <!-- ko if: input_type() == 'select' || input_type() == 'select1' -->
              <div class="options">
                <ul class="answer" data-bind="foreach: options, valueUpdate:'input', css: input_type">
                  <li class="option">
                    <p class="inline" data-bind="text: $parent.options()[$index()], valueUpdate:'input'"></p>
                  </li>
                </ul>
              </div>
            <!-- /ko -->
            <!-- /ko -->

            <!-- ko if: input_type() == 'string' || input_type() == 'decimal' -->
              <div>
                <input class="answer-box form-control" placeholder="<%= t('.their_answer') %>" disabled>
              </div>
            <!-- /ko -->
          </div>
        </div>
      </div>

      <!-- Done button -->
      <div class="controls">
        <% if current_user %>
          <button class="btn btn-primary" data-bind="click: saveOrder"><%= t('defaults.save') %></button>
        <% end %>

        <div class="btn btn-info open-preview">
          <i class="icon-mobile-phone"></i> <%= t(".preview") %>
        </div>
      </div>
    </div>

    <!-- Input palette -->
    <div class="col-md-4">
      <!-- ko if: PT.survey.status() === "editing" -->
      <div id="tool-palette" class="clear">
        <%= render 'tool_palette' %>
      </div>
      <% if current_user %>
      <div class="btn btn-warning" id="launch-survey">Go live with this survey</div>
      <% end %>
      <!-- /ko -->
    </div>
  </div>
</div>

<script type="text/javascript">
  PT.flash = <%= raw @flash %>;
</script>