<ul>
  <li class="add-question">
    <span class="glyphicon glyphicon-plus-sign"></span> <%= t(".question") %>
  </li>

    <!-- Question types sub-menu -->
    <ul class="sublist"> 
      <li>Response type:</li>
      <li class="tool-button" rel="inputText">
        <span class="glyphicon glyphicon-plus-sign"></span> <%= t(".text") %>
        <span class="toolTip glyphicon glyphicon-info-sign" rel="tooltip"></span>
      </li>
      <li class="tool-button" rel="inputNumber">
        <span class="glyphicon glyphicon-plus-sign"></span> <%= t(".number") %>
        <span class="toolTip glyphicon glyphicon-info-sign" rel="tooltip"></span>
      </li>
      <li class="tool-button" rel="inputDate">
        <span class="glyphicon glyphicon-plus-sign"></span> <%= t(".date") %>
        <span class="toolTip glyphicon glyphicon-info-sign" rel="tooltip"></span>
      </li>
      <li class="tool-button" rel="inputSelectOne">
        <span class="glyphicon glyphicon-plus-sign"></span> <%= t(".select_one") %>
        <span class="toolTip glyphicon glyphicon-info-sign" rel="tooltip"></span>
      </li>
      <li class="tool-button" rel="inputSelectMany">
        <span class="glyphicon glyphicon-plus-sign"></span> <%= t(".select_many") %>
        <span class="toolTip glyphicon glyphicon-info-sign" rel="tooltip"></span>
      </li>
    </ul>

  <li class="tool-button" rel="inputLocation">
    <span class="glyphicon glyphicon-globe"></span> <%= t(".location") %>
  </li>
  <li class="tool-button" rel="inputImage">
    <span class="glyphicon glyphicon-picture"></span> <%= t(".image") %>
  </li>
</ul>

<script type="text/javascript">
  $(".tooltip").tooltip({placement: "right", title: "Use this type of question when asking..."});
  
  $("#tool-palette .add-question").on("click", function(){ 
    $(".sublist").slideToggle();});
</script>