<ul>
  <li class="add-question">
    <a class="expand">
      <span class="glyphicon glyphicon-plus-sign"></span> <%= t(".question") %></a>
  </li>

    <!-- Question types sub-menu -->
    <ul class="sublist"> 
      <li>
        <a class="tool-button" rel="inputText">
          <span class="glyphicon glyphicon-plus-sign"></span> <%= t(".text") %></a>
        <span class="toolTip glyphicon glyphicon-info-sign" rel="tooltip"></span>
      </li>
      <li>
        <a class="tool-button" rel="inputNumber">
          <span class="glyphicon glyphicon-plus-sign"></span> <%= t(".number") %></a>
        <span class="toolTip glyphicon glyphicon-info-sign" rel="tooltip"></span>
      </li>
      <li>
        <a class="tool-button" rel="inputDate">
          <span class="glyphicon glyphicon-plus-sign"></span> <%= t(".date") %></a>
        <span class="toolTip glyphicon glyphicon-info-sign" rel="tooltip"></span>
      </li>
      <li>
        <a class="tool-button" rel="inputSelectOne">
          <span class="glyphicon glyphicon-plus-sign"></span> <%= t(".select_one") %>
        </a>
        <span class="toolTip glyphicon glyphicon-info-sign" rel="tooltip"></span>
      </li>
      <li>
        <a class="tool-button" rel="inputSelectMany">
          <span class="glyphicon glyphicon-plus-sign"></span> <%= t(".select_many") %>
        </a>
        <span class="toolTip glyphicon glyphicon-info-sign" rel="tooltip"></span>
      </li>
    </ul>

  <li>
    <a class="tool-button" rel="inputLocation">
      <span class="glyphicon glyphicon-globe"></span> <%= t(".location") %>
    </a>
  </li>
  <li>
    <a class="tool-button" rel="inputImage">
      <span class="glyphicon glyphicon-picture"></span> <%= t(".image") %>
    </a>
  </li>
</ul>

<script type="text/javascript">
  $(".tooltip").tooltip({placement: "right", title: "Use this type of question when asking..."});
  
  $("#tool-palette .add-question").on("click", function(){ 
    $(".sublist").slideToggle();});
</script>