<div class="page-container">
  <h1><%= link_to @survey.title, survey_path(@survey) %></h1>

  <% if @survey.status == "editing" %>
    <h2><%= t(".launch_title") %></h2>
    <%= t(".launch_info") %>
    <br><br>
    <%= link_to t(".return_to_edit"), survey_path(@survey), class: "btn btn-default" %>
    <%= link_to preview_survey_path(@survey), class: "btn btn-info open-preview", target: "_blank" do %>
      <i class="icon-mobile-phone"></i> <%= t(".preview") %>
    <% end %>
    <%= link_to t(".launch_survey"), activate_survey_path(@survey), class: "btn btn-warning", confirm: t(".launch_confirmation") %>

  <% elsif @survey.status == "active"  %>
    <%= t(".active") %><br>
    Overview:<br><br>
    <%= link_to t(".close"), close_survey_path(@survey), class: "btn btn-warning", confirm: t(".close_confirmation") %>

  <% else %>
    <%= t(".closed") %>
  <% end %>
</div>