<div id="header">
  <div class="container">
    <h3 class="inline no-pad"><%= t(".preview_title") %> <%= @survey.title %></h3>
    <ul class="user-links">
        <li><span class="btn btn-info close-window"><%= t(".close_preview") %></span></li>
    </ul>
  </div> 
</div>

<div class="container">
  <%= render 'android_preview' %>
</div>

<script type="text/javascript">
  PT.getSurvey("<%= survey_path(@survey) %>");
  $(".close-window").on("click", function(){
    window.close();
  });
</script>