<label><%= t("campaigns.edit.goal") %></label>
<p><%= @campaign.goal %></p>

<label><%= t("campaigns.edit.data_collectors") %></label>
<p><%= @campaign.data_collectors %></p>

<label><%= t("campaigns.edit.submissions_target") %></label>
<p><%= @campaign.submissions_target %></p>

<label><%= t("campaigns.edit.audience") %></label>
<p><%= @campaign.audience %></p>