<label><%= Campaign.human_attribute_name(:goal) %></label>
<p><%= @campaign.goal %></p>

<label><%= Campaign.human_attribute_name(:data_collectors) %></label>
<p><%= @campaign.data_collectors %></p>

<label><%= Campaign.human_attribute_name(:submissions_target) %></label>
<p><%= @campaign.submissions_target %></p>

<label><%= Campaign.human_attribute_name(:audience) %></label>
<p><%= @campaign.audience %></p>