<h3 class="highlight title"><%= t(".participate_title") %></h3><br>
<p class="highlight text"><%= t(".participate_text") %></p>

<div id="how-to-participate" class="participate">
  <div class="row how-to-steps">
    <div class="col-sm-4">
      <div class="step">
        <i class="icon-mobile-phone bigger"></i>
        <h5><%= t("campaigns.how_to_participate.step") %> 1:</h5>
        <h4><%= t(".step_1_text") %></h4>
        <%= link_to t(".download_link"), download_path, target: "blank" %>
      </div>
    </div>
    <div class="col-sm-4">
     <div class="step">
        <i class="icon-download-alt"></i>
        <h5><%= t("campaigns.how_to_participate.step") %> 2:</h5>
        <h4><%= t(".step_2_text") %></h4>
        <p class="small"><%= t(".step_2_subtext") %>:</p>
        <h3 class="code"><%= format_survey_code(@survey.code) %></h3>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="step">
        <i class="icon-check"></i>
        <h5><%= t("campaigns.how_to_participate.step") %> 3:</h5>
        <h4><%= t(".step_3_text") %></h4>
        <p class="small"><%= t(".step_3_subtext") %></p>
      </div>
    </div>
  </div>
</div>
