<li>
  <%= link_to campaign_path(campaign) do %>
    <div class="status-icon <%= campaign.status %> inline"></div>
    <%= link_to campaign.title, campaign_path(campaign), class: "campaign-name" %>
    <div class="right">
      <span class="glyphicon glyphicon-flag"></span> <%= link_to t("campaigns.status.#{campaign.status}"), campaign_path(campaign), class: "btn " + campaign.status %>
      <%= link_to clone_campaign_path(campaign), class: "pad-side", title: t("defaults.copy") do %>
        <i class="icon-copy"></i>
      <% end %>
      <%= link_to campaign_path(campaign), class: "pad-side", title: t("defaults.delete"), method: :delete, data: { confirm: t(".confirm_delete") } do %>
        <span class="glyphicon glyphicon-trash"></span>
      <% end %>
    <% end %>
  </div>
</li>