<li class="row">
  <div class="col-sm-8 campaign-name">
    <%= link_to campaign_path(campaign) do %>
      <div class="status-icon <%= campaign.status %> inline"></div>
      <div class="campaign-link"><%= campaign.title %></div>
    <% end %>
  </div>

  <div class="col-sm-4 modify">
    <%= link_to campaign_path(campaign) do %>
      <span class="glyphicon glyphicon-flag <%= campaign.status %>"></span>
      <%= t("campaigns.status.#{campaign.status}") %>
    <% end %>
    <%= link_to clone_campaign_path(campaign), class: "pad-side", title: t("defaults.copy"), method: :post do %>
      <i class="fa fa-files-o"></i>
    <% end %>
    <%= link_to campaign_path(campaign), class: "pad-side", title: t("defaults.delete"), method: :delete, data: { confirm: t(".confirm_delete") } do %>
      <span class="glyphicon glyphicon-trash"></span>
    <% end %>
  </div>
</li>