<div class="modal fade" id="new-campaign-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= t(".modal_title") %></h4>
      </div>
      <%= form_for @campaign do |f| %>
      <div class="modal-body">
        <div class="form-group">
          <%= f.label :theme, t(".campaign_theme") %>
          <%= f.select :theme, campaign_themes, {}, { class: "form-control" } %> 
        </div>
        <div class="form-group">
          <%= f.label :tile, t(".campaign_title") %>
          <%= f.text_field :title, class: "form-control", autofocus: true, required: true %>
        </div>  
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary"><%= t(".create_campaign") %></button>
      </div>
      <% end %>
    </div>
  </div>
</div>
