<div class="modal fade" id="new-campaign-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= t(".modal_title") %></h4>
      </div>

      <%= form_for @campaign do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :theme, t(".campaign_theme") %>
            <%= f.select :theme, campaign_themes, {}, { class: "form-control auto-width" } %>
          </div>
          <br>
          <div class="form-group">
            <%= f.label :title, t(".campaign_title") %>
            <%= f.text_field :title, class: "form-control" %>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                <%= f.label :country, Campaign.human_attribute_name(:country) %>
                <%= f.select :country, campaign_countries, {}, { class: "form-control auto-width" } %>
              </div>
              <div class="col-md-8">
                <%= f.label :city, Campaign.human_attribute_name(:city) %>
                <%= f.text_field :city, class: "form-control" %>
              </div>
            </div>
          </div> 
          <div id="errors">
            <ul></ul>
          </div> 
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-info"><%= t(".create_campaign") %></button>
        </div>
      <% end %>
      
    </div>
  </div>
</div>
