<div class="modal fade" id="new-campaign-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= t(".modal_title") %></h4>
      </div>

      <%= form_for @campaign, url: campaigns_path, method: :post, remote: true do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :theme, t(".campaign_theme") %>
            <%= f.select :theme, campaign_themes, {}, { class: "form-control auto-width" } %>
          </div>
          <br>
          <div class="form-group">
            <%= f.label :tile, t(".campaign_title") %>
            <%= f.text_field :title, class: "form-control", required: true %>
          </div> 
          <div id="errors">
            <ul></ul>
          </div> 
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-info"><%= t(".create_campaign") %></button>
        </div>
      <% end %>
      
    </div>
  </div>
</div>

<script type="text/javascript">
  $("form").on("ajax:error", function(e, data, status, xhr){
    errors = data.responseJSON.errors;
    errors.forEach(function(error){
      $('#errors ul').empty();
      $('#errors ul').append('<li>' + errors + '</li>');
    });
    $("#errors").addClass("alert alert-danger");
  });
</script>
