<div id="campaign-profile" class="preview wrapper">
  <% if @campaign.draft? %>
    <div class="ribbon-wrapper">
      <div class="ribbon">
        <%= t("campaigns.campaign_page.preview") %>
      </div>
    </div>
  <% end %>

  <div class="campaign-title"><%= @campaign.title %></div>
  <br>
  <div class="row campaign-overview">
    <div class="col-sm-5 col-sm-push-7 campaign-image">
      <div class="placeholder image-preview" style="background-image: url(<%= @campaign.image.url || 'placeholder.jpg' %>)"></div>
    </div>

    <div class="col-sm-7 col-sm-pull-5 campaign-info">
      <label><%= Campaign.human_attribute_name(:description) %></label>
      <%= simple_format(@campaign.description.gsub(/\n/, '<br>')) %>
      <% if !@campaign.anonymous %>
        <label><%= Campaign.human_attribute_name(:organizers) %></label>
        <p><%= @campaign.organizers %></p>
      <% end %>
    </div>
  </div>

  <% if @campaign.status != "closed" %>
    <!-- How to participate -->
    <%= render partial: 'how_to_participate', locals: {survey: @survey} %>
  <% else %>

    <!-- View campaign results -->
    <h3 class="highlight title">Check out the results</h3><br>
    <p class="highlight text">View the map, graphs and photos collected during this campaign below</p>
    <%= render partial: 'data' %>
  <% end %>

  <div id="campaign-survey" class="stacked-sheets">
    <label><%= Survey.model_name.human %></label>
    <%= render partial: 'surveys/survey_body', locals: {survey: @survey} %>
  </div>
  <br>

  <div class="center">
    <%= render partial: 'share_bar' %>
  </div>
</div>
<br>
