<div id="campaign-progress-container" class="section-light">
  <ul id="campaign-progress-bar">
    <%= link_to edit_campaign_path(@campaign) do %>
      <li data-path="edit goals_wizard goals" data-clickable="true" data-complete="<%= @campaign.validate_goals %>" class"progress-node">
        <div class="desktop-only"><%= t(".define_goals") %></div>
      </li>
    <% end %>

    <%= link_to campaign_survey_path(@campaign) do %>
      <li data-path="survey" data-clickable="<%= @campaign.validate_goals %>" data-complete="<%= @campaign.survey.present? %>" class="progress-node">
        <div class="desktop-only"><%= t(".create_survey") %></div>
      </li>
    <% end %>

    <%= link_to edit_campaign_profile_path(@campaign) do %>
      <li data-path="edit_profile profile" class="progress-node" data-clickable="<%= @campaign.survey.present? %>" data-complete="<%= @campaign.validate_profile %>">
        <div class="desktop-only"><%= t(".design_campaign_page") %></div>
      </li>
    <% end %>

    <%= link_to test_campaign_path(@campaign) do %>
      <li data-path="test" data-clickable="<%= @campaign.validate_profile %>" data-complete="<%= @campaign.status != 'draft' %>" class="progress-node">
        <div class="desktop-only"><%= t(".test_survey") %></div>
      </li>
    <% end %>

    <%= link_to campaign_collect_path(@campaign) do %>
      <li data-path="collect" data-clickable="<%= !@campaign.draft? %>" data-complete="<%= !@campaign.draft? %>" class="progress-node">
        <div class="desktop-only"><%= t(".collect_data") %></div>
      </li>
    <% end %>

    <%= link_to share_campaign_path(@campaign) do %>
      <li data-path="share" data-clickable="<%= !@campaign.draft? %>" data-complete="<%= @campaign.status == 'closed' %>" class="progress-node">
        <div class="desktop-only"><%= t(".share_data") %></div>
      </li>
    <% end %>
  </ul>

  <% if @can_advance == true %>
    <%= link_to campaign_next_path(@campaign, refer_action: action_name) do %>
      <div class="btn btn-warning progress-arrow next"><%= t("defaults.next") %><span class="glyphicon glyphicon-chevron-right"></span>
      </div>
    <% end %>
  <% elsif @campaign.status == "active" %>
    <%= link_to t(".share_data"), share_campaign_path(@campaign), class: "btn btn-warning progress-arrow" %>
  <% elsif @campaign.status != "closed" %>
    <%= link_to campaign_next_path(@campaign, refer_action: action_name) do %>
      <div class="btn btn-grey progress-arrow">
        <%= t("defaults.next") %><span class="glyphicon glyphicon-chevron-right"></span>
      </div>
    <% end %>
  <% end %>

  <%- flash.each do |name, msg| -%>
    <div id="errors" class="progress-errors alert-danger">
      <span class="glyphicon glyphicon-remove right close"></span>
      <%= msg %>
    </div>
  <%- end -%>
</div>
