<div class="section-light" id="campaign-progress-container">
  <ul id="campaign-progress-bar">
    <%= link_to edit_campaign_path(@campaign) do %>
      <li data-path="edit goals_wizard goals" data-clickable="true" data-complete="<%= @campaign.validate_goals %>" class"progress-node">
        <div class="desktop-only"><%= t(".define_goals") %></div>
      </li>
    <% end %>

    <%= link_to campaign_survey_path(@campaign) do %>
      <li data-path="survey" data-clickable="<%= @campaign.validate_goals %>" data-complete="<%= @campaign.survey.present? %>" class="progress-node">
        <div class="desktop-only"><%= t(".create_survey") %></div>
      </li>
    <% end %>

    <%= link_to edit_campaign_profile_path(@campaign) do %>
      <li data-path="edit_profile profile" class="progress-node" data-clickable="<%= @campaign.survey.present? %>" data-complete="<%= @campaign.validate_profile %>">
        <div class="desktop-only"><%= t(".design_profile") %></div>
      </li>
    <% end %>

    <%= link_to test_campaign_path(@campaign) do %>
      <li data-path="test" data-clickable="<%= @campaign.validate_profile %>" data-complete="<%= @campaign.status != 'draft' %>" class="progress-node">
        <div class="desktop-only"><%= t(".test_survey") %></div>
      </li>
    <% end %>

    <%= link_to campaign_collect_path(@campaign) do %>
      <li data-path="collect" data-clickable="<%= !@campaign.draft? %>" data-complete="<%= !@campaign.draft? %>" class="progress-node">
        <div class="desktop-only"><%= t(".collect_data") %></div>
      </li>
    <% end %>

    <%= link_to share_campaign_path(@campaign) do %>
      <li data-path="share" data-clickable="<%= !@campaign.draft? %>" data-complete="<%= @campaign.status == 'closed' %>" class="progress-node">
        <div class="desktop-only"><%= t(".share_data") %></span>
      </li>
    <% end %>
  </ul>

  <% if @can_advance == true %>
    <%= link_to campaign_next_path(@campaign, refer_action: action_name) do %>
      <div class="btn btn-warning progress-arrow next"><%= t("defaults.next") %><span class="glyphicon glyphicon-chevron-right"></span></div>
    <% end %>
  <% elsif @campaign.status == "active" %>
    <%= link_to t("campaigns.collect.close"), close_campaign_path(@campaign), class: "btn btn-warning progress-arrow", data: { confirm: t("campaigns.collect.confirm_close") } %></div>
  <% elsif @campaign.status != "closed" %>
    <%= link_to campaign_next_path(@campaign, refer_action: action_name), remote: true, "data-type" => :json do %>
      <div class="btn btn-grey progress-arrow"><%= t("defaults.next") %><span class="glyphicon glyphicon-chevron-right"></span></div>
    <% end %>
  <% end %>
</div>

<div id="errors" class="progress-errors">
  <span class="glyphicon glyphicon-remove right close"></span>
  <ul></ul>
</div>

<script>
  $("li[data-path ~= <%= action_name %>]").addClass("active");
  $("li[data-complete = true]").addClass("complete");
  $("li[data-clickable = false]").css("pointer-events", "none");

  $(document).on("ajax:error", function(e, data, status, xhr){
    errors = data.responseJSON.errors;
    errors.forEach(function(error){
      $("#errors ul").empty();
      $("#errors ul").append("<li>" + errors + "</li>");
    });
    $("#errors").addClass("alert alert-danger");
    $("#errors").show();
  });

  $("#errors .close").on("click", function(){
    $(this).parent().hide();
  })
</script>