<div class="viz-panel">
  <div class="col-md-10 featured-viz tab-content">
    <!--     Filter panel -->
    <div class="filters collapse-group">
      <div class="header">
        <div><%= t("campaigns.share.filters")%> <span class="control glyphicon glyphicon-chevron-down"></span></div>
      </div>
      <div class="content collapse">
        <div class="date-range-container filter">
          <div class="name col-md-1"><%= t("campaigns.share.date")%></div>
          <div class="col-md-11 unpad">
            <div id="date-range"></div>
          </div>
          <div class="read-out col-md-12"></div>
        </div>
      </div>
    </div>
    
    <div class="tab-pane" id="map-viz"></div>

    <div class="tab-pane fade in active" id="graph-viz">
      <div id="graph-container" class="row"></div>
      <div class="ajax-loading">
        <%= image_tag("ajax-loader.gif") %>
        <h4><%= t("defaults.loading") %></h4>
      </div>
      <div id="graph-placeholder">
        <h3><%= t(".graph_placeholder") %></h3>
        <div id="graph-images">
          <%= image_tag("graphs-pie.png") %>
          <%= image_tag("graphs-column.png") %>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="image-viz">
      <div id="image-placeholder">
        <%= image_tag("placeholder.jpg") %>
        <h3><%= t(".image_placeholder") %></h3>
      </div>
    </div>
  </div>

  <div class="col-md-2 nav nav-tabs" role="tablist" id="viz-tabs">
    <a href="#map-viz" role="tab" data-toggle="tab" id="map-tab">
      <div class="tab-square">
        <div class="tab-icon"></div>
        <span class="desktop-only"><%= t(".map") %></span>
      </div>
    </a>  
    <a href="#graph-viz" role="tab" data-toggle="tab" class="active" id="graph-tab">
      <div class="tab-square">
        <div class="tab-icon"></div>
        <span class="desktop-only"><%= t(".graphs") %></span>
      </div>
    </a>
    <a href="#image-viz" role="tab" data-toggle="tab" id="image-tab">
      <div class="tab-square">
        <div class="tab-icon"></div>
        <span class="desktop-only"><%= t(".photos") %></span>
      </div>
    </a>
  </div>
</div>