<!--     Filter panel -->
<div class="filters collapse-group">
  <div class="header">
    <div><%= t("campaigns.share.filters")%> <span class="control glyphicon glyphicon-chevron-down"></span></div>
  </div>
  <div class="content collapse col-md-10">
    <div class="date-range-container filter filter-field">
      <div class="name col-md-1"><%= t("campaigns.share.date")%></div>
      <div class="col-md-11 control">
        <div id="date-range"></div>
      </div>
      <div class="read-out col-md-12"></div>
    </div>
    <div class="field-container filter">
      <div class="name col-md-1"><%= t("campaigns.share.question")%></div>
      <div class="col-md-11 control">
        <select id="select-field"></select>
        <select id="select-value" class="filter-field"></select>
      </div>
    </div>
  </div>
</div>

<div class="viz-panel">
  <div class="featured-viz tab-content">

    <div class="tab-pane fade in active" id="graph-viz">
      <div id="graph-container" class="row"></div>
      <div class="ajax-loading">
        <%= image_tag("ajax-loader.gif") %>
        <h4><%= t("defaults.loading") %></h4>
      </div>
      <div id="graph-placeholder">
        <h3><%= t(".graph_placeholder") %></h3>
        <div id="graph-images">
          <%= image_tag("graphs-pie.png") %>
          <%= image_tag("graphs-column.png") %>
        </div>
      </div>
    </div>
  </div>
</div>