<div class="section-container">
  <div class="section-header">
    <h2 class="title sub-title inline"><%= t("campaigns.campaign_page.title") %></h2>
    <div class="right">
      <div class="btn btn-info" id="save-profile"><%= t("defaults.save") %></div>
    </div>
  </div>
  <p class="partial upsize">
    <%= t("campaigns.campaign_page.campaign_page_description") %>
  </p>
  <br>
</div>

<div class="section grey">
  <div class="section-container pad-top">

    <%= form_for @campaign do |f| %>
      <div id="campaign-profile" class="preview">
        <%= f.text_field :title, class: "campaign-title" %>
        <%= f.hidden_field :campaign_page_valid, value: true %>

        <div class="row campaign-overview">
          <div class="col-sm-7">
            <div class="form-group"> 
              <%= f.label :description %>
              <%= f.text_area :description, rows: 6, placeholder: "Type a description of your campaign here", class: "form-control" %>
            </div>
            <div class="form-group"> 
              <%= f.label :organizers %><br>
              <%= f.check_box :anonymous %> <%= t("campaigns.campaign_page.remain_anonymous") %>
              <%= f.text_area :organizers, rows: 2, class: "form-control" %>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="campaign-image">
              <div class="placeholder image-preview" style="background-image: url(<%= @campaign.image.url || 'placeholder.jpg' %>)">
              </div>
              <%= f.file_field :image %>
            </div>
          </div>
        </div>

        <%= render partial: 'how_to_participate', locals: {survey: @survey} %>

        <div class="row survey-preview">
          <div class="col-sm-12">
            <div id="campaign-survey" class="stacked-sheets">
              <label><%= Survey.model_name.human %></label>
              <%= render partial: 'surveys/survey_body', locals: {survey: @survey} %>
            </div>
          </div>
        </div>
        <br>
      </div>

      <div class="row pad-bottom">
        <div class="button-group center clear">
          <hr>
          <%= f.hidden_field :redirect_action, value: "profile" %>
          <%= f.submit t("defaults.save"), class: "btn btn-info" %>
        </div>
      </div> 
    <% end %>
  </div>
  <br><br>
</div>

<script type="text/javascript">
  // Fetch responses from aggregator
  <% if @campaign.status == "closed" %>
      PT.retrieveResponses(<%= @campaign.survey.code %>, function(data){
      PT.renderGoogleMap(data, "report-map-container");
      PT.populateImages(data.responses, "#report-image-container");
      PT.renderReportGraphs(data.responses, "#report-graph-container", "col-md-6");
    });
  <% end %>
</script>

<script type="text/javascript">
  $('input[type="file"]').on("change", PT.uploadImage);

  $("#input-list").sortable({ disabled: true });
  $("#save-profile").on("click", function(){
    $(".edit_campaign").trigger("submit");
  })

  $(".edit_campaign").on("submit", function(){
    if(!PT.validateProfile(this)){
      PT.scrollToError();
      return false;
    }
  });

  $("#campaign_anonymous").on("change", function (){
    if($(this).is(":checked")){
      $(this).parents(".form-group").addClass("inactive");
    } else {
      $(this).parents(".form-group").removeClass("inactive");
    }
  })

   $("#campaign_anonymous").trigger("change");
</script>