<div class="campaign-title">
  <%= @campaign.title %>
</div>
<div class="edit-title-button" data-toggle="modal" data-target="#campaign-title-modal"><%= t(".edit_title") %></div>

<h2 class="title"><%= t(".define_goals") %></h2>

<%= form_for @campaign do |f| %>
<%= render partial: 'campaign_title_modal', locals: {f: f} %>

<div id="campaign-goals-form">
  <div class="row form-page" id="form-page-1">
    <div class="col-sm-8">
      <div class="form-group"> 
        <%= f.label :goal %>
        <p class="explain"><%= t(".explanations.goal") %></p>
        <%= f.text_area :goal, rows: 8, class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tip-box">
        <div class="header">
          <i class="icon-info"></i> <%= t(".tooltip") %>
        </div>
        <div class="body">
          <p><%= t(".tips.goal") %></p>
        </div>
      </div>  
    </div>
    <div class="col-md-4 clear">
      <%= f.label :theme, class: "block" %>
      <%= f.select :theme, campaign_themes, {}, { class: "form-control" } %> 
    </div>
    <%= render partial: 'form_buttons' %>
  </div>

  <div class="row form-page" id="form-page-2">
    <div class="col-sm-8">
      <div class="form-group"> 
        <%= f.label :data_collectors %>
        <p class="explain"><%= t(".explanations.data_collectors") %></p>
        <%= f.text_area :data_collectors, rows: 5, class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tip-box">
        <div class="header">
          <i class="icon-info"></i> <%= t(".tooltip") %>
        </div>
        <div class="body">
          <p><%= t(".tips.data_collectors") %></p>
        </div>
      </div>  
    </div>

    <div class="col-sm-8">
      <div class="form-group"> 
        <%= f.label :submissions_target %>
        <p class="explain"><%= t(".explanations.submissions_target") %></p>
        <%= f.number_field :submissions_target, rows: 8, class: "block" %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tip-box">
        <div class="header">
          <i class="icon-info"></i> <%= t(".tooltip") %>
        </div>
        <div class="body">
          <p><%= t(".tips.submissions_target") %></p>
        </div>
      </div>
    </div>
    <%= render partial: 'form_buttons' %>
  </div>

  <div class="row form-page" id="form-page-3">
    <div class="col-sm-8">
      <div class="form-group"> 
        <%= f.label :audience %>
        <p class="explain"><%= t(".explanations.audience") %></p>
        <%= f.text_area :audience, class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tip-box">
        <div class="header">
          <i class="icon-info"></i> <%= t(".tooltip") %>
        </div>
        <div class="body">
          <p><%= t(".tips.audience") %></p>
        </div>
      </div>  
    </div>

    <div class="button-group center clear">
      <hr>
      <div class="btn btn-info left-arrow">
        BACK <span class="glyphicon glyphicon-chevron-left"></span>
      </div>

      <%= f.submit "FINISH", class: "btn btn-info" %>
    </div>
  </div> 

  <% end %>
</div>

<script type="text/javascript">
  PT.flash = <%= raw @flash %>;
  $(".right-arrow").on("click", PT.nextFormPage);
  $(".left-arrow").on("click", PT.previousFormPage);
  $(document).on("click", ".tip-box", PT.openTip);

  $("#update-title-button").on("click", function(){
    PT.updateDisplay($("#campaign-title-input"), $(".campaign-title"));
  });

  jQuery.extend(jQuery.validator.messages, <%= raw @validations %>);
</script>