<div class="btn btn-title inline campaign-title">
  <%= @campaign.title %>
</div>
<div class="edit-title-button" data-toggle="modal" data-target="#campaign-title-modal"><%= t(".edit_title") %></div>

<h2 class="title"><%= t(".define_goals") %></h2>

<%= form_for @campaign do |f| %>
<%= render partial: 'campaign_title_modal', locals: {f: f} %>

<div id="campaign-goals-form">
  <div class="row form-page" id="form-page-1">
    <div class="col-sm-8">
      <div class="form-group"> 
        <%= f.label :goal, t(".goal") %>
        <%= f.text_area :goal, rows: 5, class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tip-box"><i class="icon-info"></i> Tooltip</div>
    </div>
    <%= render partial: 'form_buttons' %>
  </div>

  <div class="row form-page" id="form-page-2">
    <div class="col-sm-8">
      <div class="form-group"> 
        <%= f.label :data_collectors, t(".data_collectors") %>
        <%= f.text_area :data_collectors, class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tip-box"><i class="icon-info"></i> Tooltip</div>
    </div>

    <div class="col-sm-8">
      <div class="form-group"> 
        <%= f.label :submissions_target, t(".submissions_target") %>
        <%= f.number_field :submissions_target, class: "block" %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tip-box"><i class="icon-info"></i> Tooltip</div>
    </div>
    <%= render partial: 'form_buttons' %>
  </div>

  <div class="row form-page" id="form-page-3">
    <div class="col-sm-8">
      <div class="form-group"> 
        <%= f.label :audience, t(".audience") %>
        <%= f.text_area :audience, class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tip-box"><i class="icon-info"></i> Tooltip</div>
    </div>

    <div class="button-group center clear">
      <div class="btn btn-info left-arrow">
        BACK <span class="glyphicon glyphicon-chevron-left"></span>
      </div>

      <%= f.submit "FINISH", class: "btn btn-info" %>
    </div>
  </div> 

  <% end %>
</div>

<script type="text/javascript">
  PT.flash = <%= raw @flash %>;
  $(".right-arrow").on("click", PT.nextFormPage);
  $(".left-arrow").on("click", PT.previousFormPage);

  $("#update-title-button").on("click", function(){
    PT.updateDisplay($("#campaign-title-input"), $(".campaign-title"));
  });

</script>