<div class="section-container">
  <%= form_for @campaign do |f| %>
    <div class="section-header">
      <%= f.text_field :title, class: "campaign-title" %>
      <div class="right">
        <%= f.submit t("defaults.save"), class: "btn btn-info" %>
      </div>
      <h2 class="title sub-title"><%= t("campaigns.progress_bar.define_goals") %></h2>
    </div>

    <div id="campaign-goals-form" class="single-page">
      <div class="row">
        <div class="col-sm-4 block">
          <div class="form-group">
            <%= f.label :theme, class: "block" %>
            <%= f.select :theme, campaign_themes, {}, { class: "form-control" } %> 
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <div class="form-group"> 
            <%= f.label :description %>
            <p class="explain"><%= t("campaigns.edit.explanations.description") %></p>
            <%= f.text_area :description, rows: 5, class: "form-control", autofocus: true %>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-sm-8">
          <div class="form-group"> 
            <%= f.label :goal %>
            <p class="explain"><%= t(".explanations.goal") %></p>
            <%= f.text_area :goal, rows: 8, class: "form-control" %>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="tip-box">
            <div class="header">
              <span class="icon-question-sign"></span> <%= t(".tooltip") %>
            </div>
            <div class="body">
              <p><%= t(".tips.goal") %></p>
            </div>
          </div>  
        </div>
      </div> -->

<!--       <div class="row">
        <div class="col-sm-8">
          <div class="form-group"> 
            <%= f.label :organizers %>
            <%= f.text_area :organizers, rows: 2, class: "form-control" %>
          </div>
        </div>
      </div> -->

      <div class="row">
        <div class="col-sm-8">
          <div class="form-group"> 
            <%= f.label :data_collectors %>
            <p class="explain"><%= t(".explanations.data_collectors") %></p>
            <%= f.text_area :data_collectors, rows: 2, class: "form-control" %>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="tip-box">
            <div class="header">
              <span class="icon-question-sign"></span> <%= t(".tooltip") %>
            </div>
            <div class="body">
              <p><%= t(".tips.data_collectors") %></p>
            </div>
          </div>  
        </div>

        <div class="col-sm-8">
          <div class="form-group"> 
            <%= f.label :submissions_target %>
            <p class="explain"><%= t(".explanations.submissions_target") %></p>
            <%= f.number_field :submissions_target, min: 0, class: "block" %>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="tip-box">
            <div class="header">
              <span class="icon-question-sign"></span> <%= t(".tooltip") %>
            </div>
            <div class="body">
              <p><%= t(".tips.submissions_target") %></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <div class="form-group"> 
            <%= f.label :audience %>
            <p class="explain"><%= t(".explanations.audience") %></p>
            <%= f.text_area :audience, rows: 8, class: "form-control" %>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="tip-box">
            <div class="header">
              <span class="icon-question-sign"></span> <%= t(".tooltip") %>
            </div>
            <div class="body">
              <p><%= t(".tips.audience") %></p>
            </div>
          </div>  
        </div>

        <div class="button-group center clear">
          <hr>
          <%= f.hidden_field :redirect_action, value: "goals" %>
          <%= f.submit t("defaults.save"), class: "btn btn-info" %>
        </div>
      </div>
    </div> 
  <% end %>
</div>

<script type="text/javascript">
  $(document).on("click", ".tip-box", PT.toggleTip);
  $(".right-arrow").on("click", PT.nextFormPage);
  $(".left-arrow").on("click", PT.previousFormPage);
  $()

  $("#update-title-button").on("click", function(){
    PT.updateDisplay($("#campaign-title-input"), $(".campaign-title"));
  });

  $("textarea, input").on("click", function(){
    var $currentTip = $(this).parents(".row").find(".tip-box .body");
    $(".tip-box .body").not($currentTip).slideUp();
    $currentTip.slideDown();
  });

  $(".edit_campaign").on("submit", function(){
    if(!PT.validateOverview(this)){
      PT.scrollToError();
      return false;
    }
  });
</script>