<div class="section-container">
  <div id="campaign-survey">
    <div class="section-header">
      <h2 class="title sub-title inline"><%= t("campaigns.tabs.overview") %></h2>
      <div class="right">
        <%= link_to t("defaults.edit"), edit_campaign_path(@campaign), class: "btn btn-info" %>
      </div>
    </div>
    <% if @campaign.theme %>
    <label><%= Campaign.human_attribute_name(:theme) %></label>
    <p><%= t("activerecord.options.themes.#{@campaign.theme}") %></p>
    <br>
    <% end %>

    <% if @campaign.city %>
    <label><%= Campaign.human_attribute_name(:city) %></label>
    <p><%= @campaign.city %></p>
    <br>
    <% end %>

    <label><%= Campaign.human_attribute_name(:description) %></label>
    <p><%= @campaign.description %></p>
    <br>
    <label><%= Campaign.human_attribute_name(:organizers) %></label>
    <p><%= @campaign.organizers %></p>
    <br>
    <label><%= Campaign.human_attribute_name(:submissions_target) %></label>
    <p><%= @campaign.submissions_target %></p>
    <br>
    <label><%= Campaign.human_attribute_name(:audience) %></label>
    <p><%= @campaign.audience %></p>
  </div>
</div>

<script type="text/javascript">
  $("#input-list").sortable({ disabled: true });
</script>