<% if @campaign.not_draft %>
  <%= render partial: 'campaigns/tabs' %>
<% end %>

<div class="page-container">
  <div id="campaign-survey">
    <div class="section-header">
      <h2 class="title inline"><%= t(".campaign_goals") %></h2>
    </div>
    <label><%= Campaign.human_attribute_name(:description) %></label>
    <p><%= @campaign.description %></p>
    <label><%= Campaign.human_attribute_name(:goal) %></label>
    <p><%= @campaign.goal %></p>
    <br>
    <label><%= Campaign.human_attribute_name(:data_collectors) %></label>
    <p><%= @campaign.data_collectors %></p>
    <br>
    <label><%= Campaign.human_attribute_name(:submissions_target) %></label>
    <p><%= @campaign.submissions_target %></p>
    <br>
    <label><%= Campaign.human_attribute_name(:audience) %></label>
    <p><%= @campaign.audience %></p>
  </div>
</div>

<script type="text/javascript">
  $("#input-list").sortable({ disabled: true });
</script>