<div class="section grey">
  <div class="section-container" id="user-info">
    <div class="user-icon">
      <%= link_to user_path(current_user) do %>
        <%= image_tag(current_user.avatar.url(:thumb)) %>
      <% end %>
    </div>
    <div class="user-details bottom">
      <h4><%= link_to current_user.username, user_path(current_user) %></h4>
    </div>
  </div>
</div>

<div class="section">
  <div class="section-container" id="user-campaigns">
    <div class="col-md-12">
      <h1 class="light"><%= t(".my_campaigns") %></h1>
    </div>

    <div class="col-md-9">
      <% if @campaigns.present? %>
      <ul class="campaigns-list">
        <% @campaigns.each do |campaign| %>
          <%= render partial: 'campaigns/list_item', locals: {campaign: campaign} %>
        <% end %>
      </ul>
      <% else %> 
      <div class="welcome">
        <%= t(".greeting") %>, <%= current_user.username.capitalize %>. <%= t(".welcome_text") %><br>
        <%= link_to t(".get_started"), "#", class: "new-campaign" %>
      </div>
      <% end %>
    </div>

    <div class="col-md-3 center new-campaign">
      <div class="btn btn-info new-campaign-button">
        <span class="glyphicon glyphicon-plus-sign"></span>
        <%= t(".new_campaign") %>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="section-container" id="campaigns-footer"></div>
</div>

<%= render partial: 'new' %>

<script type="text/javascript">
  $(".new-campaign").on("click", function(){
    $("#new-campaign-modal").modal();
  });
</script>
