<div class="page-container">
  <h1><%= link_to @campaign.title, campaign_path(@campaign) %></h1>

  <% if @campaign.status == "draft" %>
    <h2><%= t(".launch_title") %></h2>
    <%= t(".launch_info") %>
    <br><br>
    <%= link_to t(".return_to_edit"), survey_path(@survey), class: "btn btn-default" %>
    <%= link_to preview_survey_path(@survey), class: "btn btn-info open-preview", target: "_blank" do %>
      <i class="icon-mobile-phone"></i> <%= t(".preview") %>
    <% end %>
    <%= link_to t(".launch_campaign"), activate_campaign_path(@campaign), class: "btn btn-warning", data: { confirm: t(".launch_confirmation") } %>

  <% elsif @campaign.status == "active"  %>
    <%= t(".active") %><br>
    Overview:<br><br>
    <%= link_to t(".close"), close_campaign_path(@campaign), class: "btn btn-warning", confirm: t(".close_confirmation") %>

  <% else %>
    <%= t(".closed") %>
  <% end %>
</div>