<% content_for :head do %>
  <%= javascript_include_tag "/highcharts.js" %>
  <meta property="og:url" content="<%= request.original_url %>" >
<% end %>

<%= render partial: "tabs" %>

<div class="page-container">
  <div class="row campaign-overview">
    <div class="survey-code">
      <p><span class="glyphicon glyphicon-flag <%= @campaign.status %>"></span>
      <%= t("campaigns.status.#{@campaign.status}") %></p>
      <h4><%= t(".survey_code") %>: <%= format_survey_code(@survey.code) %></h4>
    </div>
    <div class="col-sm-9" id="activity-graph">
      <br>
      <%= t(".number_of_responses") %>
    </div>
    <div class="col-sm-3">
      <div class="campaign-info-box">
        <h1 class="response-count"></h1>
        <p><%= t(".responses").capitalize %></p>
        <div id="status-bars"></div>

        <label><%= Campaign.human_attribute_name(:start_date) %>:</label>
        <p><%= @campaign.start_date.strftime("%-d %b %Y") %></p>
        <% if @campaign.end_date %>
          <label><%= Campaign.human_attribute_name(:end_date) %>:</label>
          <% @campaign.end_date.strftime("%-d %b %Y") %>
        <% elsif @campaign.status == "active" %>
          <%= link_to t(".close"), close_campaign_path(@campaign), class: "btn btn-warning margin-top" %>
        <% end %>     
      </div>
    </div>
  </div>
</div>
<br>

<div class="row section-dark campaign-outreach">
  <div class="page-container">
    <h3 class="title"><%= t(".publicize_form") %></h3>

    <%= image_tag("social-fb.png", class: "social-share fb-share") %>
    <%= image_tag("social-tw.png", class: "social-share") %>
    <%= image_tag("social-email.png", class: "social-share") %>
  </div>
</div>

<div class="row section-light campaign-resources">
  <div class="page-container">
    <h1 class="title"><%= t(".campaign_resources") %></h1>
    <div class="resource">
      <i class="icon-group"></i>
      <%= t(".guide_1") %>
    </div>
    <div class="resource">
      <i class="icon-mobile-phone"></i>
      <%= t(".guide_2") %>
    </div>

    <%= link_to share_campaign_path(@campaign) do %>
    <div class="resource">
      <i class="icon-bar-chart"></i>
      <%= t(".guide_3") %>
    </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  PT.campaign = <%= raw @campaign.to_json %>;
  PT.retrieveResponses(<%= @survey.code %>, 'monitordataloaded')
</script>
