<div class="section-container">
  <% if current_user && current_user.owns?(@campaign) %>
    <div class="section-header">
      <h2 class="title sub-title inline"><%= t("campaigns.campaign_page.title") %></h2>
      <div class="right">
        <%= link_to t("campaigns.campaign_page.view_as_public"), campaign_public_profile_path(@campaign), target: "blank", class: "pad-side subtle small" %>
        <%= link_to t("defaults.edit"), edit_campaign_profile_path(@campaign), class: "btn btn-info" %>
      </div>
    </div>
  <% end %>

  <div class="preview">
    <div class="section grey">
      <div class="section-container grey pad-top">
        <%= render partial: 'profile' %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  // Facebook SDK
    window.fbAsyncInit = function() {
    FB.init({
      appId            : '337756186420908',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.10'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  // Facebook share handler
  $(document).on("click", ".fb-share-button", function(){
    FB.ui({
      method: 'share',
      href: '<%= "#{request.original_url.split('campaigns/').first}campaigns/#{@campaign.id}/public" %>',
    }, function(response){
    });
  });

  // Fetch responses from aggregator
  <% if @campaign.status == "closed" %>
    PT.retrieveResponses(<%= @campaign.survey.code %>, function(data){
      PT.renderGoogleMap(data, "report-map-container");
      PT.populateImages(data.responses, "#report-image-container");
      PT.renderReportGraphs(data.responses, "#slides-container");
    });
  <% end %>
</script>
