<div class="section-container">
  <% if current_user && current_user.owns?(@campaign) %>
    <div class="section-header">
      <h2 class="title sub-title inline"><%= t("Profile") %></h2>
      <div class="right">
        <%= link_to t("campaigns.profile.view_as_public"), campaign_public_profile_path(@campaign), target: "blank", class: "pad-side subtle small" %>
        <%= link_to t("defaults.edit"), edit_campaign_profile_path(@campaign), class: "btn btn-info" %>
      </div>
    </div>
  <% end %>

  <div class="preview">
    <div class="section grey">
      <div class="section-container grey pad-top">
        <%= render partial: 'profile' %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  // Fetch responses from aggregator
  PT.retrieveResponses(<%= @campaign.survey.code %>, function(data){
    PT.renderGoogleMap(data, "report-map-container");
    PT.populateImages(PT.responses, "#report-image-container");
    PT.renderGraphs(PT.aggregate, "#slides-container");
  });
</script>
