
<%= render partial: 'viz_panel' %>

<div class="section grey report-panel printable">
  <div class="section-container center">
    <div class="share right">
      <%= render partial: 'share_bar' %>
    </div>
    <h2 class="title"><%= t(".data_reports") %></h2>
    <br>
    <div class="row">
      <div class="col-sm-10 col-sm-push-1">
        <ul class="report-options right">
          <li>
            <a class="print" href="" media="all"><%= t(".print_report") %></a>
          </li>
          <li>
            <a href="" class="csv-download"><%= t(".download_csv") %></a>
          </li>
          <li>
            <% if current_user %>
              <%= link_to clone_campaign_path(@campaign), class: "pad-side", title: t("defaults.copy"), method: :post do %>
                <%= t(".copy_campaign") %>
              <% end %>
            <% end %>
          </li>
        </ul>
        <%= render partial: 'data_report' %>
      </div>
    </div>
    <br><br>
  </div>
</div>

<div class="section-dark campaign-outreach">
  <div class="section-container">
    <h3 class="title"><%= t(".share_data") %></h3>
    <div class="buttons-only">
      <%= render partial: 'share_bar' %>
    </div>
  </div>
</div>

<script type="text/javascript">
  // Facebook share handler
  $(document).on("click", ".fb-share-button", function(){
    FB.ui({
      method: 'share',
      href: '<%= request.original_url %>',
    }, function(response){
    });
  });

  // Fetch responses from aggregator
  PT.retrieveResponses(<%= @campaign.survey.code %>, function(data){

    // Populate data report
    PT.renderGoogleMap(data, "report-map-container");
    PT.renderGraphs(PT.aggregate, "#slides-container", "");

    // Populate panel
    PT.renderInputSummaries(PT.aggregate, "#graph-container", "col-md-12");
    PT.renderGallery(PT.extractAllImages(PT.responses), "#image-viz", "main-gallery");
    window.setTimeout(function(){
      PT.renderGoogleMap(data, "map-viz");
    }, 2000);

    // Add CSV download button handler
    $(".csv-download").on("click", function(e){
      e.preventDefault();
      PT.downloadCsv(data);
    });

    // Add popup
    var $popup = $(HandlebarsTemplates["response_view"](PT.surveyDefinition));
    $popup.addClass("popup");
    $popup.hide();
    $(document.body).append($popup);

    $(document).on("click", function(){
      $popup.hide();
    });
  });
  
  $("#viz-tabs a").click(function(e) {
    e.preventDefault();
    $(this).tab("show");
    $("#viz-tabs a").removeClass("active");
    $(this).addClass("active");
  });

  // Re render graphs when graph tab clicked
  $("#graph-tab").on("shown.bs.tab", function(e){
    PT.renderInputSummaries(PT.aggregate, "#graph-container", "col-md-12");
  });

  // If search params present, load specified tab
  if(window.location.search){
    $("#"+ window.location.search.substring(1) +"-tab").trigger("click");
  }

  // Print report
  $(".print").on("click", function(e){
    e.preventDefault();
    window.print();
  })
</script>
