<% content_for :head do %>
  <%= javascript_include_tag '/highcharts.js' %>
<% end %>

<%= render partial: 'campaigns/tabs' %>
<div class="row viz-panel">
  <div class="col-md-9 featured-viz tab-content">
    <div class="tab-pane" id="map-viz"></div>
    <div class="tab-pane" id="image-viz"></div>
    <div class="tab-pane fade in active" id="graph-viz">
      <div id="graph-container" class="row"></div>
      <div class="ajax-loading">
        <%= image_tag("ajax-loader.gif") %>
        <h4><%= t("defaults.loading") %></h4>
      </div>
      <div id="graph-placeholder">
        <h3><%= t(".graph_placeholder") %></h3>
        <div id="graph-images">
          <%= image_tag("graphs-pie.png") %>
          <%= image_tag("graphs-column.png") %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 section-dark nav nav-tabs" role="tablist" id="viz-tabs">
    <a href="#map-viz" role="tab" data-toggle="tab" id="map-tab">
      <div class="viz map">
        <h4 class="title legend"><%= t(".map") %></h4>
      </div>
    </a>
    <a href="#image-viz" role="tab" data-toggle="tab" id="image-tab">
      <div class="viz image">
        <h4 class="title legend"><%= t(".photos") %></h4>
      </div>
    </a>
    <a href="#graph-viz" role="tab" data-toggle="tab" class="active" id="graph-tab">
      <div class="viz graph">
        <h4 class="title legend"><%= t(".graphs") %></h4>
      </div>
    </a>
  </div>
</div>

<div class="row section-light report-panel center">
  <div class="page-container">
  <h2 class="title"><%= t(".data_reports") %></h2>
  <br>

    <div class="col-sm-8 col-sm-push-2">
      <div class="data-report">
        <div class="header"></div>

        <div class="container">
          <div class="logo">
            <%= image_tag("PT-logo.png") %>
          </div>
          <h2 class="title"><%= @campaign.title %></h2>
          <div class="description">
            <label><%= Campaign.human_attribute_name(:goal) %></label>
            <p><%= @campaign.goal %></p>
          </div>
          <label><%= t(".campaign_organizers") %></label>
          <p><%= @campaign.data_collectors %></p>

          <div class="report-image">
            <div class="map"></div>
            <div class="image"></div>
          </div>
          <div id="report-graphs-container">
            <div id="report-graphs" class="row"></div>
          </div>

          <strong><%= t(".learn_more") %></strong>: <a class="small" href="dev.monitor.promisetracker.org/campaigns/<%= @campaign.id %>">dev.monitor.promisetracker.org/campaigns/<%= @campaign.id %></a>
        </div> 
        <div class="footer"></div> 
      </div>
    </div>
  </div>
</div>

<div class="row section-dark campaign-outreach">
  <div class="page-container">
    <h3 class="title"><%= t(".share_data") %></h3>
    <%= image_tag("social-fb.png", class: "social-share") %>
    <%= image_tag("social-tw.png", class: "social-share") %>
    <%= image_tag("social-email.png", class: "social-share") %>
  </div>
</div>

<script type="text/javascript">
  PT.retrieveResponses(<%= @campaign.survey.code %>, "sharedataloaded");
  
  $("#viz-tabs a").click(function(e) {
    e.preventDefault();
    $(this).tab("show");
    $("#viz-tabs a").removeClass("active");
    $(this).addClass("active");
  });

  $("#graph-tab").on("shown.bs.tab", function(){
      PT.renderGraphs(PT.aggregate, "#graph-container");
  });

  $(document).ajaxSend(function(event, request, settings) {
    $(".ajax-loading").show();
  });

  $(document).ajaxComplete(function(event, request, settings) {
    $(".ajax-loading").hide();
  });
</script>
