<div class="share right">
  <%= render partial: 'share_bar' %>
  <ul class="report-options right">
    <li>
      <a class="print" href="" media="all"><%= t(".print_report") %></a>
    </li>
    <li>
      <a href="" class="csv-download"><%= t(".download_csv") %></a>
    </li>
    <li>
      <% if current_user %>
        <%= link_to clone_campaign_path(@campaign), class: "pad-side", title: t("defaults.copy"), method: :post do %>
          <%= t(".copy_campaign") %>
        <% end %>
      <% end %>
    </li>
  </ul>
</div>
<div class="section report-panel printable">
  <div class="section-container center">
    <%= render partial: 'data_report' %>
  </div>
</div>

<div class="section-dark campaign-outreach">
  <div class="section-container">
    <h3 class="title"><%= t(".share_data") %></h3>
    <div class="buttons-only">
      <%= render partial: 'share_bar' %>
    </div>
  </div>
</div>

<script type="text/javascript">
  // Facebook share handler
  $(document).on("click", ".fb-share-button", function(){
    FB.ui({
      method: 'share',
      href: '<%= request.original_url %>',
    }, function(response){
    });
  });

  // Fetch responses from aggregator
  PT.retrieveResponses(<%= @campaign.survey.code %>, function(data){

    PT.renderInputSummaries(data.responses, "#graph-container");
    PT.renderGoogleMap(data.responses, "report-map-container");

    PT.configureFilters();

    // Add CSV download button handler
    $(".csv-download").on("click", function(e){
      e.preventDefault();
      PT.downloadCsv(data);
    });

    // Add individual response popup window
    var $popup = $(HandlebarsTemplates["response_view"](PT.surveyDefinition));
    $popup.addClass("popup");
    $popup.hide();
    $(document.body).append($popup);

    $(document).on("click", function(){
      $popup.hide();
    });
  });
  
  $("#viz-tabs a").click(function(e) {
    e.preventDefault();
    $(this).tab("show");
    $("#viz-tabs a").removeClass("active");
    $(this).addClass("active");
  });

  $(".filters .header").on("click", function(){
    $(this).closest(".collapse-group").find(".content").slideToggle()
    ;
  });

  // Print report
  $(".print").on("click", function(e){
    e.preventDefault();
    window.print();
  })
</script>
