<div class="row viz-panel">
  <div class="col-md-9 featured-viz tab-content">
    <div class="tab-pane" id="map-viz"></div>

    <div class="tab-pane fade in active" id="graph-viz">
      <div id="graph-container" class="row"></div>
      <div class="ajax-loading">
        <%= image_tag("ajax-loader.gif") %>
        <h4><%= t("defaults.loading") %></h4>
      </div>
      <div id="graph-placeholder">
        <h3><%= t(".graph_placeholder") %></h3>
        <div id="graph-images">
          <%= image_tag("graphs-pie.png") %>
          <%= image_tag("graphs-column.png") %>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="image-viz">
      <div id="image-placeholder">
        <%= image_tag("placeholder.jpg") %>
        <h3><%= t(".image_placeholder") %></h3>
      </div>
    </div>
  </div>

  <div class="col-md-3 section-dark nav nav-tabs" role="tablist" id="viz-tabs">
    <a href="#map-viz" role="tab" data-toggle="tab" id="map-tab">
      <div class="viz map">
        <h4 class="title legend"><%= t(".map") %></h4>
      </div>
    </a>
    <a href="#graph-viz" role="tab" data-toggle="tab" class="active" id="graph-tab">
      <div class="viz graph">
        <h4 class="title legend"><%= t(".graphs") %></h4>
      </div>
    </a>
    <a href="#image-viz" role="tab" data-toggle="tab" id="image-tab">
      <div class="viz image" style="background-image: url(<%= @campaign.image.url %>);">
        <h4 class="title legend"><%= t(".photos") %></h4>
      </div>
    </a>
  </div>
</div>

<div class="section grey report-panel">
  <div class="section-container center">
    <div class="right">
      <%= render partial: 'share_bar' %>
    </div>
    <h2 class="title"><%= t(".data_reports") %></h2>
    <br>
    <div class="row">
      <div class="col-sm-10 col-sm-push-1">
        <ul class="report-options right">
          <li>
            <a class="print" href="" media="all"><%= t(".print_report") %></a>
          </li>
          <li>
            <a href="" class="csv-download"><%= t(".download_csv") %></a>
          </li>
          <li>
            <% if current_user %>
              <%= link_to clone_campaign_path(@campaign), class: "pad-side", title: t("defaults.copy"), method: :post do %>
                <i class="icon-copy"></i>
              <% end %>
            <% end %>
          </li>
        </ul>
        <%= render partial: 'data_report' %>
      </div>
    </div>
    <br><br>
  </div>
</div>

<div class="row section-dark campaign-outreach">
  <div class="section-container">
    <h3 class="title"><%= t(".share_data") %></h3>
    <div class="buttons-only">
      <%= render partial: 'share_bar' %>
    </div>
  </div>
</div>

<script type="text/javascript">
  // Facebook share handler
  $(document).on("click", ".fb-share-button", function(){
    FB.ui({
      method: 'share',
      href: '<%= request.original_url %>',
    }, function(response){
    });
  });

  // Fetch responses from aggregator
  PT.retrieveResponses(<%= @campaign.survey.code %>, function(data){

    // Populate data report
    PT.renderGoogleMap(data, "report-map-container");
    PT.renderGraphs(PT.aggregate, "#slides-container", "");

    // Populate panel
    PT.renderInputSummaries(PT.aggregate, "#graph-container", "col-md-5");
    PT.renderGallery(PT.extractAllImages(PT.responses), "#image-viz", "main-gallery");
    window.setTimeout(function(){
      PT.renderGoogleMap(data, "map-viz");
    }, 2000);

    // Add CSV download button handler
    $(".csv-download").on("click", function(e){
      e.preventDefault();
      PT.downloadCsv(data);
    });

    // Add popup
    var $popup = $(HandlebarsTemplates["response_view"](PT.surveyDefinition));
    $popup.addClass("popup");
    $popup.hide();
    $(document.body).append($popup);

    $(document).on("click", function(){
      $popup.hide();
    });
  });
  
  $("#viz-tabs a").click(function(e) {
    e.preventDefault();
    $(this).tab("show");
    $("#viz-tabs a").removeClass("active");
    $(this).addClass("active");
  });

  // Re render graphs when graph tab clicked
  $("#graph-tab").on("click", function(){
    PT.renderInputSummaries(PT.aggregate, "#graph-container", "col-md-5");
  });

  // If search params present, load specified tab
  if(window.location.search){
    $("#"+ window.location.search.substring(1) +"-tab").trigger("click");
  }

  // Print report
  $(".print").on("click", function(e){
    e.preventDefault();
    window.print();
  })
</script>
