<div class="page-container">
  <%= link_to @campaign.title, campaign_path(@campaign), class: "campaign-title" %>
</div>
<%= render partial: 'nav' %>
<div class="row viz-panel">
  <div class="col-md-9 featured-viz tab-content">
    <div class="tab-pane fade in active" id="map-viz"></div>
    <div class="tab-pane" id="image-viz">
      Images!
    </div>
    <div class="tab-pane" id="graph-viz">
      Graphs!
    </div>
  </div>
  <div class="col-md-3 section-dark nav nav-tabs" role="tablist" id="viz-tabs">
    <a href="#map-viz" role="tab" data-toggle="tab" class="active">
      <div class="viz map">
        <h4 class="title legend"><%= t(".map") %></h4>
      </div>
    </a>  
    <a href="#image-viz" role="tab" data-toggle="tab">
      <div class="viz image">
        <h4 class="title legend"><%= t(".photos") %></h4>
      </div>
    </a>
    <a href="#graph-viz" role="tab" data-toggle="tab">
      <div class="viz graph">
        <h4 class="title legend"><%= t(".graphs") %></h4>
      </div>
    </a>
  </div>
</div>

<div class="row section-light report-panel">
  <div class="page-container">
  <h2 class="title"><%= t(".data_reports") %></h2>
  <br>

    <div class="col-sm-6">
      <div class="data-report">
        <div class="header"></div>

        <div class="container">
          <h2 class="title"><%= @campaign.title %></h2>
          <div class="description">
            <p><%= @campaign.goal %></p>
          </div>
          <div class="logo">
            <%= image_tag("PT-logo.png") %>
          </div>

          <div class="report-image">
            <div class="map"></div>
            <div class="pic"></div>
          </div>

          <div class="report-graph"></div>

          <label><%= Campaign.human_attribute_name(:goal) %></label>
          <p><%= @campaign.goal %></p>

          <label><%= t(".contact") %></label>
          <p>Susana Morada, 334-345-8897, susana@gmail.com</p>

          <strong><%= t(".learn_more") %>: promisetracker.com/campaign</strong>
        </div> 
        <div class="footer"></div> 
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("#share-tab").addClass("active-tab");

  $("#viz-tabs a").click(function (e) {
    e.preventDefault();
    $(this).tab("show");
    $("#viz-tabs a").removeClass("active");
    $(this).addClass("active");
  })

  var url, mapOptions;
  url = "http://cfcm.cartodb.com/api/v2/viz/21e86fd4-5887-11e4-b28c-0e018d66dc29/viz.json";
  mapOptions = {
    zoom: 16,
    center_lat: -19.9540425000,
    center_lon: -43.9385429000,
    scrollwheel: false,
    zoomControl: false,
    shareable: false,
    searchControl: false
  }; 

  window.onload = function() {
    cartodb.createVis('map-viz', url, mapOptions)
    .done(function(){
      $(".cartodb-searchbox").hide();
    })
  };
</script>

