<div class="campaign-title">
  <%= @campaign.title %>
</div>
<br><br>
<div class="row pad-bottom">
  <div class="col-md-5" id="campaign-goals">
    <div class="section-header">
      <h2 class="title inline"><%= t(".campaign_goals") %></h2>
      <%= link_to t(".edit_goals"), edit_campaign_path(@campaign), class: "btn btn-info right" %>
    </div>
    <%= render partial: "goals", locals: {campaign: @campaign} %>
  </div>

  <div class="col-md-7" id="campaign-survey">
    <div class="section-header">
      <h2 class="title inline"><%= t(".campaign_survey") %></h2>
      <% if @survey %>
      <div class="right">
        <% if @campaign.status == "draft" %>
        <%= link_to t(".edit_survey"), survey_path(@survey), class: "btn btn-info" %>
        <%= link_to t(".launch_survey"), launch_campaign_path(@campaign), class: "btn btn-warning" %>
        <% else %>
          <%= link_to t(".monitor_progress"), launch_campaign_path(@campaign), class: "btn btn-warning" %>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="section-body center">
      <% if @survey %>
      <%= render partial: "surveys/survey_body", locals: {survey: @survey} %>
      <% else %>
      <%= link_to new_survey_path(campaign_id: @campaign.id), class: "btn btn-info new-form-button" do %>
        <span class="glyphicon glyphicon-plus-sign"></span>
        <%= t(".create_survey") %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
