<% if !@campaign.draft %>
  <%= render partial: "tabs" %>
<% end %>

<div class="page-container">
  <div id="campaign-survey">
    <div class="section-header">
      <h2 class="title inline"><%= t(".campaign_survey") %></h2>
      <% if @survey && @campaign.draft %>
        <div class="right">
          <%= link_to t(".edit_survey"), edit_survey_path(@survey), class: "btn btn-info" %>
        </div>
      <% end %>
    </div>
    <div class="section-body center">
      <% if @survey %>
        <%= render partial: "surveys/survey_body" %>
      <% else %>
        <%= link_to new_survey_path(campaign_id: @campaign.id), class: "btn btn-info new-survey-button" do %>
          <span class="glyphicon glyphicon-plus-sign"></span>
          <%= t(".create_survey") %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#input-list").sortable({ disabled: true });
</script>