<!DOCTYPE html>
<html>
  <head>
    <title><%= t("app_name") %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="page-container">
      <%= yield %>
    </div>
  </body>
</html>
