<div id="header">
  <% if current_user %>
    <%= link_to campaigns_path, class: "btn btn-info home" do %>
      <span class="glyphicon glyphicon-home"></span>
    <% end %>
  <% end %>
  <ul class="user-links">
    <% if I18n.locale == :en %>
      <li><%= link_to "Português", :locale=>'pt-BR' %></li>
    <% else %>
      <li><%= link_to "English", :locale=>'en' %></li>
    <%end%>
    |

    <% if current_user %>
      <li><%= current_user.username %></li>
      <li><%= link_to t("devise.sign_out"), destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to t("devise.sign_in"), new_user_session_path, class: "btn btn-primary" %></li>
    <% end %>
  </ul>
</div>