<!DOCTYPE html>
<html>
  <head>
    <title><%= t("app_name") %></title>
    <%= render partial: "layouts/include_links" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= render "campaigns/progress_bar" %>
    <div class="page-container"> 
      <%= yield %>
    </div>
  </body>
</html>
