<!DOCTYPE html>
<html>
  <head>
    <title><%= t("app_name") %></title>
    <%= render "layouts/include_links" %>
    <%= yield :head %>
  </head>
  
  <body data-no-turbolink="true">
    <%= render "layouts/site_header" %>
    <%= render "campaigns/campaign_header" %>
    <%= yield %>
  </body>
</html>