<!DOCTYPE html>
<html>
  <head>
    <title><%= t("app_name") %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script type="text/javascript" src="/underscore.js"></script>
    <script type="text/javascript" src="/knockout-3.1.0.js"></script>
    <script type="text/javascript" src="/knockout-sortable.js"></script>
    <script type="text/javascript" src="/knockout-mapping.js"></script>
  </head>
  <body>

    <%= yield %>

  </body>
</html>