<!DOCTYPE html>
<html>
  <head>
    <title><%= t('app_name') %></title>
    <%= render partial: 'layouts/include_links' %>
  </head>
  
  <body>
    <div id="header">
      <div class="navbar-header header-container">
        <div id="branding">
          <% if current_user %>
            <%= link_to campaigns_path, class: "home-button" do %>
              <%= image_tag("PT-logo.png") %>
            <% end %>
          <% else %>
            <%= link_to root_path, class: "home-button" do %>
              <%= image_tag("PT-logo.png") %>
            <% end %>
          <% end %>
          <h2 class="light inline site-title"><%= t('app_name') %></h2>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
